# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.log
staticfiles/
media/
db.sqlite3

# React / Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
frontend/.env.production

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Termux
*.lock
